---
layout: default
header-title: "by Andrew Beers"
---

    <div class="homewrap">
      <div class="homeblock"><a href="{{ site.baseurl }}/about"><div class="homecaption"><span>Bio</span></div><img src="{{ site.baseurl }}/resources/bio_pic2.png" ></a></div>
      <div class="homespacer"></div>
      <div class="homeblock"><a href="{{ site.baseurl }}/resources/ABeers_Resume.pdf"><div class="homecaption"><span>Resume</span></div><img src="{{ site.baseurl }}/resources/resume_pic.png" ></a></div>
    </div>
    <div class="homewrap">
      <div class="homeblock"><a href="{{ site.baseurl }}/portfolio"><div class="homecaption"><span>Portfolio</span></div><img src="{{ site.baseurl }}/resources/IceScreenshot.PNG"></a></div>
      <div class="homespacer"></div>
      <div class="homeblock"><a href="{{ site.baseurl }}/blog"><div class="homecaption"><span>Blog</span></div><img src="{{ site.baseurl }}/resources/blog_pic.png"></a></div>
    </div>

    <div class="recentblock">
    Recent posts<br /><br />
    <ul>

  {% for post in site.posts limit:20 %}

    <a href={{ site.baseurl }}{{post.url}}><li>[{{post.category}}] {{post.title}}</li></a>

  {% endfor %}

    </ul>
    </div>

  {% for post in site.categories.blog limit:7 %}

  <div class="contentblock">
  <div class="contentdate">{{ post.date | date: "%b %-d, %Y" }}</div>
  <a href={{ site.baseurl }}{{post.url}}><div class="contenthead">{{ post.title }}</div></a>
  <div class="contenttext">

  {{ post.content }}

  </div>
  </div>

  {% endfor %}
