---
layout: default
---

    <div class="emptyblock">
      deep learning scientist, activist, medical imaging researcher, print designer, mostly by accident
    </div>

    <div class="homewrap">
      <div class="homeblock"><a href="{{ site.baseurl }}/about"><div class="homecaption"><span>Bio</span></div><img src="{{ site.baseurl }}/resources/bio_pic2.png" ></a></div>
      <div class="homespacer"></div>
      <div class="homeblock"><a href="{{ site.baseurl }}/resources/ABeers_Resume.pdf"><div class="homecaption"><span>Resume</span></div><img src="{{ site.baseurl }}/resources/resume_pic.png" ></a></div>
    </div>
    <div class="homewrap">
      <div class="homeblock"><a href="{{ site.baseurl }}/portfolio"><div class="homecaption"><span>Portfolio</span></div><img src="{{ site.baseurl }}/resources/IceScreenshot.PNG"></a></div>
      <div class="homespacer"></div>
      <div class="homeblock"><a href="{{ site.baseurl }}/blog"><div class="homecaption"><span>Blog</span></div><img src="{{ site.baseurl }}/resources/blog_pic.png"></a></div>
    </div>

    <div class="recentblock">
    Recent posts<br /><br />
    <ul>


{% for post in site.posts limit:20 %}
{% if post.categories contains 'blog' or post.categories contains 'portfolio' %}
    
<a href="{{ site.baseurl }}{{post.url}}">
    <div class="projectblock">
        <div class="projecticon"><img src="{{ site.baseurl }}{{post.icon}}"></div>
        <div class="projectdesc">
            <div class="projecthead">{{post.title}}</div>
            <div class="projecttext"><br />{{post.blurb}}</div>
        </div>
    </div>
</a>

{% endif %}
{% endfor %}

    </ul>
    </div>