---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

.project_header {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 36px;
  padding: 30px 20px 10px 10px;
  margin: auto;
  line-height: 42px;
  color: $white;
  font-family: $helvetica;
}

.project_subheader {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 0px 20px 30px 10px;
  margin: auto;
  line-height: 28px;
  color: $white;
  font-family: $helvetica;
}

.project_wrapper {
  width: 100%;
}

.project_container {
  width: 1250px;
  margin: 0 auto;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 1250px;
/*    padding-bottom: 45%; *//* aspect ratio */
    min-height: 620px;
    vertical-align: top;
    margin: 0 auto;
    border: 3px #E0E0E0 solid;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}


.icelabel {
  font: 11px;
  font-family: Helvetica;
  fill: white;
  shape-rendering: crispEdges;
}

.buttonlabels {
  font-size: 11px;
  font: 11px sans-serif;
  fill: white;
  color: white;
  cursor: default;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.TitleText {
  font: 22px;
  font-family: Helvetica;
  font-size: 25px;
  fill: white;
  font-color: white;
  cursor: default;
}

.SubTitleText {
  font: 12px;
  font-family: Helvetica;
  font-size: 12px;
  fill: white;
  font-color: white;
  cursor: default;
}

.HelpTitleText {
  font: 10px;
  font-family: Helvetica;
  font-size: 12px;
  fill: #6D9BF1;
  font-color: #6D9BF1;
  cursor: default;
}

.colorbox {

}

.colorbuttons {
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.buttons{
cursor: hand;
}

.buttonbox {
  stroke: #0033CC;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font: 11px sans-serif;
  color: white;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: grid;
  stroke: steeblue;
  stroke-width1: 2px;
}

.background {
  fill: black;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: white;
  stroke-width1: 2px;
  fill-opacity: .5;
  fill: steelblue;
  shape-rendering: crispEdges;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width1: 2px;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.link {
    stroke: #777;
    stroke-width1: 2px;
}

.land-glow {
  fill: #000;
  fill-opacity: .2;
  filter: url(#glow);
}