body{
  /* background-color: #f5f5f5; */
  font-family: "Open Sans", sans-serif;
}

h4, dd, .checkbox label{
  font-weight: 200;
}

dt{
  font-weight: 400;
}

select, textarea, input{
  border-radius: 0 !important;
  font-weight: 200;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
}

select:focus, textarea:focus, input:focus{
  border-color: #CCC !important;
}

input:checkbox {
  display: none !important;
}

#primary-content{
/*    padding: 0px;
    width: 100%;
    margin: 20px auto;
    color: $white;*/
    font-family: $helvetica;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 30px;
    /*max-height: 700px;*/

/*    @include smallview{
        margin: 10px auto;
        float: none;
    }*/
}

.btn {
  width: 100%;
}

.menu-tab{
  color: blue;
  font-size: 24px;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
}

#download-share{
   position: absolute;                  /* added */
   bottom: 0;                           /* added */
   left: 0;                           /* added */
}

#primary-details #primary-image{
/*    padding: 0px;
    width: 100%;
    margin: 20px auto;
    color: $white;*/
    font-family: $helvetica;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 30px;

/*    @include smallview{
        margin: 10px auto;
        float: none;
    }*/
}

#primary-image img{
  margin: 0 auto;
  /*margin-bottom: 20px;*/
  display: block;
  max-width: 600px;
  width: 100%;
}

.container{
  margin:0 auto;
}

.container-fluid {
  max-width: 1000px
}

.sidebar{
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  min-height: 600px;
  /* background-color: #f5f5f5; */
}

.sidebar.col-md-3{
  padding: 0px;
}

.well {
   margin: 10px;
   display: inline-block;
   width: 30%;
}

.sidebar .well{
  border-radius: 0px;
  /* background-color: #EEE; */
  background-color: #FFF;
  -webkit-box-shadow: none; 
   box-shadow: none;
}

.filter-row {
  margin-bottom: 20px;
}

.btn {
  margin: 2px;
}

.year-button {
  background-color: green;
}

.sidebar h4{
  padding-left: 0px;
}

.sidebar .row{
  border-bottom: 2px solid #20B2AA;
  margin-bottom: 10px;
}

.sidebar .progress{
  margin-bottom: 0px;
  margin-top: 12px;
  float: right;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.sidebar .progress-bar{
  background-color: #F08080;
  border-radius: 0;
}

.sidebar legend{
  font-size: 14px;
  font-weight: 300;
}

.criteria{
  background-color: #D3D3D3;
  min-height: 110px;
  margin: 20px 0px;
  padding-bottom: 5px;
}

.title{
  padding: 20px 0 ;
  color: #222;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.content{
}

.thumbnail{
  text-decoration: none !important;
  /* background-color: #EEE; */
  border-radius: 0;
  height: 600px;
  cursor: pointer;
}

.label{
  border-radius: 0;
  top: 0px;
  right: 0px;
  position: absolute;
}

.detail {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px
}

.caption {
  height: 250px;
}

.caption{
  margin-top: 15px;
}

.caption .field{
  font-weight: bold;
  float: left;
  width: 65px;
}

.caption h4{
  color: #b22222;
  min-height: 25px;
}

.russian-ad{
  margin-bottom: 20px;
  padding-right: 5px;
}

.russian-ad h4{
  margin-top: 15px;
  margin-bottom: -5px;
  border-bottom: 1px solid #A9A9A9;
  padding-bottom: 7px;
}

.click{
  float: right;
  font-size: 14px;
  margin-top: -5px;
  margin-right: -5px;
  background-color: #222;
}

.click .glyphicon{
  vertical-align: middle;
  color: #fff;
  margin-top: -5px;
}

.first{
  margin-top: 10px;
}

.collection{
  margin-right: 1px;
}

.outline {
  display: block;
  position: absolute;
  left: 15px;
  height: auto;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  -webkit-transition: opacity .25s ease-in;
  -ms-transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -o-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px 15px;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 200;
}

/*.caption:hover .outline{
  opacity: 1;
}*/

/*.caption:hover .detail{
  opacity: 0;
}*/

.active {
  
}

.preview_image img {
  height: 300px;
  margin: auto;
}

.preview-image img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: auto;
}

.runtime, .open-close{
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #222;
}

.runtime .glyphicon{
  vertical-align: middle;
  margin-right: 3px;
}

.open-close .glyphicon{
  margin-right: 3px;
}


.ui-widget-header{
  background: none;
  background-color: #222;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-state-foucs{
  background-color: #000;
  border: 1px black solid;
}

legend {
  font-size: 22px;
}

.jumbotron {
  padding-top: 10px;
  border-radius: 0px !important;
}

.title-container {
  width: 100%;
  padding: 0;}

.btn-date {
  min-width: 60px
}

.checkbox-inline {
  margin: 0 !important;
  padding: 0;
}

.checkbox-inline input[type=checkbox] {
  display: none;
  top: 13px;
  left: 5px;
  margin: 0;
}

#next-buttons {
  margin-bottom: 20px;
}
.searchbar {
  /*margin: 0 30px 30px 30px;*/
  font-size: 24px;
  height: 36px;
}

.slider{
  margin: 0 20px;
}

.slider-label{
  display: block;
  text-align: center;
  font-weight: 200;
}

.search-icon{
  position: relative;
  margin-top: -25px;
  display: inline-block;
  width: 28px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background-color: transparent;
  font-size: 20px;
  color: #222;
  float: right;
}

.russian-ads-pagination{
  text-align: center;
}

.russian-ads-pagination li a{
 color: #000;
}

.russian-ads-pagination li.active a{
  background-color: #AAA;
  border-color: #AAA;
}

.map{
  margin-top: 15px;
  height: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
