<div id="footerblock"></div>
  <div class="toolbarblock">
    <div class="toolbar-row">
    <div class="toolbaritem"> <a href="{{ site.baseurl }}/about">About</a></div>
    <div class="toolbaritem"><a href="{{ site.baseurl }}/portfolio">Publications</a></div>
    <div class="toolbaritem edgebutton"><a href="{{ site.baseurl }}/blog">Blog</a></div>
</div>
    <div class="toolbar-row">
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://github.com/AnnaBeers"><i class="fa fa-github"></i> </a></div>
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://scholar.google.com/citations?hl=en&user=kPQgDcsAAAAJ"><i class="fa fa-google"></i> </a></div>
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://www.linkedin.com/in/annabeers"><i class="fa fa-linkedin"></i> </a></div>
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://bsky.app/profile/beeeeeers.bsky.social"><i class="fa fa-twitter"></i> </a></div>
    <div class="toolbaritem contactbutton edgebutton"><a target="_blank" href="https://www.reddit.com/user/beeeeeeers"><i class="fa fa-reddit"></i> </a></div>
</div>
  </div>
