  <div class="toolbarblock">
    <div class="toolbaritem"> <a href="{{ site.baseurl }}/about">About</a></div>
    <div class="toolbaritem"><a href="{{ site.baseurl }}/blog">Blog</a></div>
    <div class="toolbaritem"><a href="{{ site.baseurl }}/portfolio">Portfolio</a></div>
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://www.facebook.com/AndrewBeers">Facebook</a></div>
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://www.linkedin.com/in/andrewlbeers">LinkedIn</a></div>
  </div>