  <div class="toolbarblock">
    <div class="toolbar-row">
    <div class="toolbaritem"> <a href="{{ site.baseurl }}/about">About</a></div>
    <div class="toolbaritem"><a href="{{ site.baseurl }}/blog">Blog</a></div>
    <div class="toolbaritem edgebutton"><a href="{{ site.baseurl }}/portfolio">Portfolio</a></div>
</div>
    <div class="toolbar-row">
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://github.com/AndrewBeers"><i class="fa fa-github"></i> </a></div>
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://scholar.google.com/citations?hl=en&user=kPQgDcsAAAAJ"><i class="fa fa-google"></i> </a></div>
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://www.linkedin.com/in/andrewlbeers"><i class="fa fa-linkedin"></i> </a></div>
    <div class="toolbaritem contactbutton"><a target="_blank" href="https://twitter.com/beeeeeers"><i class="fa fa-twitter"></i> </a></div>
    <div class="toolbaritem contactbutton edgebutton"><a target="_blank" href="https://www.reddit.com/user/beeeeeeers"><i class="fa fa-reddit"></i> </a></div>
</div>
  </div>