<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    <!--[if lt IE 9]<a href="{{ site.baseurl }}/index" >>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/projects/{{ page.stylesheet }}"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

</head>

<body>

  <div id="wrap">
          <a href="{{ site.baseurl }}/index" ><div class="project-page-wrap"><div class="project-page-title">anna-beers.com</div></div></a>

            {{ content }}

            {% include footer.html %}

          </div>
</body>
</html>
